.box {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 12.5vh;

    .title {
        display: flex;
        align-self:  center;
        margin-bottom: 30px;
        transition: .2s;
        cursor: default;
    }

    .title:hover {
        color: #34bfc2;
    }

    // img {
    //     margin-left: 10px !important;
    //     width: 300px;
    //     height: 300px;
    // }

    .photos {
        margin: 0;
        padding: 0;
        // background-color: rgba(184,184,184,1);
        border: none;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(184,184,184,1);
        -moz-box-shadow: 0px 0px 20px 0px rgba(184,184,184,1);
        box-shadow: 0px 0px 20px 0px rgba(184,184,184,1);
    }
}