.portfolio-item {
  right: 0;
  margin: 0 0 15px;
  .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    .img {
      transition: .3s;
      height: 300px;
    }

    .img:hover {
      opacity: .9;
    }
  }
  .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: $white;
    h4 {
      margin: 0;
      text-transform: none;
    }
    p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      @include serif-font;
    }
  }
}

@media (min-width: 767px) {
  .portfolio-item {
    margin: 0 0 30px;
  }
}
